[submodule "deps/muparserx"]
	path = deps/muparserx
	url = https://github.com/OmicsDataAutomation/muparserx.git
[submodule "deps/HDFSWrapper"]
	path = deps/HDFSWrapper
	url = https://github.com/omicsdataautomation/HDFSWrapper.git
[submodule "deps/azure-storage-cpplite"]
	path = deps/azure-storage-cpplite
	url = https://github.com/nalinigans/azure-storage-cpplite.git
